# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.Rproj.user/F0099771/sdb/prop/19683053

.Rprog*
*.h5
rstudio__via_dd.Rproj
.Rproj.user/F0099771/sdb/s-52CD9367/206BA8EF
.Rproj.user/F0099771/sdb/prop/INDEX
.Rproj.user/F0099771/sdb/s-52CD9367/lock_file
.Rproj.user
*.db
*.png
*.ai
rates_out_v1.db.old1
*.zip
